<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NodeJS login app</title>
	</head>
	<body>
		<main>
			<h1>NodeJS login app</h1>
			<%- body %>
		</main>
	</body>
</html>
